[submodule "home/.janus/align"]
	path = home/.janus/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "home/.janus/ctrlp"]
	path = home/.janus/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.janus/jade"]
	path = home/.janus/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "home/.janus/railscasts-console"]
	path = home/.janus/railscasts-console
	url = https://github.com/rickharris/vim-railscasts.git
[submodule "home/.janus/repeat"]
	path = home/.janus/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.janus/syntax-attr"]
	path = home/.janus/syntax-attr
	url = https://github.com/vim-scripts/SyntaxAttr.vim.git
[submodule "home/.janus/tcomment"]
	path = home/.janus/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/.janus/yankring"]
	path = home/.janus/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "home/.janus/bufexplorer"]
	path = home/.janus/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
	ignore = dirty
[submodule "home/.janus/detectindent"]
	path = home/.janus/detectindent
	url = https://github.com/ciaranm/detectindent.git
	ignore = dirty
[submodule "home/.vim"]
	path = home/.vim
	url = https://github.com/carlhuda/janus.git
	ignore = dirty
